* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    background: #EDF0F3;
    background-attachment: fixed;
}


main {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

}


.showcase {
    width: 50vw;
    height: 100vh;
    /* background: red; */

}
.showcase h1{
    margin: 8rem 6rem;

}


.loginArea {
    /* width: 50vw;
    height: 100vh; */
    /* background:; */
}


/* link Styling  */
.btn-link {
    text-decoration: none;
    color: #fff;
    padding: 0.6rem;
    background: #291B0A;
    border-radius: 0.4rem;

}

.btn-link:hover {
    background: #474A12;
}

.loginSelect {
    margin-top: 100px;
    margin-left: 250px;


}

.login {
    margin: 30px auto;
    padding: 20px;
    max-width: 400px;
    display: none;
   
}

.formWrap {
    padding: 15px 25px;
    background: #fff;

}

.formWrap .fromGroup {
    margin: 15px;
}

.formWrap .fromGroup label {
    display: block;
    color: #666;
}

.formWrap .formGroup input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;

}

.formWrap button {
    width: 100%;
    display: block;
    padding: 10px;
    align-content: center;
    background: #49c1a2;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;

}



.error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;

}

#error::before {
    content: '';
    left: -15px;
    border-width: 8px 16px 8px 0;

}

.handleError::placeholder {
    color: red;
    font-size: 1.5rem;

}

.handleError:placeholder-shown {
    border: 1px solid black;
}



/* signUP form */
.signUp {
    display: none;
   
}

.sformWrap {
    padding: 15px 25px;
    background: #fff;
    margin: 2rem;

}


.sformWrap .fromGroup {
    margin: 15px;
}

.sformWrap .fromGroup label {
    display: block;
    color: #666;
}

.sformWrap .formGroup input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;

}

.sformWrap button {
    width: 100%;
    display: block;
    padding: 10px;
    align-content: center;
    background: #49c1a2;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}


.btn-text {
    font-size: 12px;
    margin-top: 20px;
}